.header{
    background: #7dd3fc;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    .img{
        width: 80px;
        height: 70px;
    }
    .Header_List{
        display: flex;
        gap: 70;
        justify-content: right;
        font-size: 20px;
        margin-top: 20px;
        color: #fcfcfc;
        text-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    }
}
