.shop{
    font-size: 32px;
    text-align: center;
}
.input_area{
    
    .input{
        border: 3px;
        .input_field{
            background: red;
            padding: 0 auto;
        }
    }
}
